.App {
	text-align: center;
}

h1 {
	font-family: 'Bigelow Rules', cursive;
	font-size: 12vh;
	color: #0ccac4;
}

body {
	background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
}
